body {
    background-color: #d1d3dc;
    height: 100vh;
  }
  
  .calc {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f1f5;
    border-radius: 10px;
  }
  .calc > .screen {
    grid-column: span 4;
    text-align: right;
    font-size: 50px;
  }
  .calc > .formula {
    grid-column: span 4;
    text-align: right;
    font-size: 18px;
  }
  .calc > .key {
    display: inline-block;
    height: 60px;
    min-width: 60px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
  }
  .calc > .key.double {
    grid-column: span 2;
  }
  .calc > .key.yellow {
    background-color: yellow;
  }
  .calc > .key::before {
    content: attr(data-symbol);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }